.logistics-wrap{
    height: 100%;
    background: #f5f5f5;
    font-size: 26px;
    color: #333333;
}

.logistics-advertising {
    position: relative;
    box-sizing: border-box;
    padding: 27px 30px;
    text-indent: 60px;
    font-size: 28px;
    color: #ff8400;
    background: url('./img/laba.png') no-repeat 30px center,#ffedda;

    .close {
        position: absolute;
        right: 30px;
        top: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        background: url('./img/close.png') no-repeat;
        background-size: 100%;
    }
}