.star-box {
    display: flex;

    span {
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }

    .on {
        background: url("./img/star24_on@2x.png") no-repeat;
        background-size: 100%;
    }
    .off {
        background: url(./img/star36_off@2x.png) no-repeat;
        background-size: 100%;
    }
}