.comment {
  font-size: 28px;
  background: #fff;
  padding-left: 30px;
  margin-bottom: 20px;
  .info-top {
    padding: 30px 0;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #e6e6e6;
    .info-label {
      flex: 1;
      display: inline-block;
    }
    .info-time {
      display: inline-block;
      font-style: normal;
      font-size: 24px;
      color: #999;
      width: 160px;
      box-sizing: content-box;
      padding-right: 30px;
    }
  }
  .info-center {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
  }
  .info-type {
    padding: 25px 0;
    .check-icon {
      position: relative;
      top: 8px;
      margin-right: 30px;
      display: inline-block;
      width: 36px;
      height: 39px;
      background: url(../img/check-icon.png) no-repeat center;
      background-size: 100% auto;
    }
    .info-text {
      position: relative;
      display: inline-block;

    }
  }

}

.comment-nodata {
  width: 100%;
  text-align: center;
  overflow: hidden;
  img {
    display: inline-block;
    width: 260px;
    margin: 200px auto 50px;
  }
  .nodata-text {
    display: inline-block;
    width: 100%;
    line-height: 40px;
    color: #999;
  }
}